.container
  .row.h-100.align-items-center.justify-content-center.text-center
  .col-lg-100.align-self-end
    %h1.text-uppercase.text-white.font-weight-bold Список авторов
    %hr.divider.my-4/

  %table.table.text-white
    %thead.thead-light
      %tr
        %th{:scope => "col"} Имя
        %th{:scope => "col"} Фамилия
        %th{:scope => "col"} Отчество
        %th{:scope => "col"} Библиография
      - @authors.each do |author|
        %tr
          %td= author.f_name
          %td= author.s_name
          %td= author.l_name
          %td
            .btn.btn-light.btn-xl 
              = link_to 'Книги', author


= link_to 'New Author', new_author_path


