%p#notice= notice

%p
  %b F name:
  = @author.f_name
%p
  %b S name:
  = @author.s_name
%p
  %b L name:
  = @author.l_name

= link_to 'Edit', edit_author_path(@author)
\|
= link_to 'Back', authors_path
