= form_for @subj_ind_word do |f|
  - if @subj_ind_word.errors.any?
    #error_explanation
      %h2= "#{pluralize(@subj_ind_word.errors.count, "error")} prohibited this subj_ind_word from being saved:"
      %ul
        - @subj_ind_word.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :word
    = f.text_area :word
  .field
    = f.label :pages
    = f.text_area :pages
  .field
    = f.label :subject_index
    = f.text_field :subject_index
  .actions
    = f.submit 'Save'
